@{
    ViewData["Title"] = "Home";
}


<style>
    body {
   
        font-family: 'sans-serif';
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 30px;
       
        
    }

    

    h1 {
        color: darkgreen;
        margin-bottom: 20px;
    }

    p {
        color: darkgreen;
        margin-bottom: 40px;
    }

    .bold-text {
        font-weight: bold;
        font-size: 24px; 
    }
</style>

<div class="container text-center">
    <h1 class="display-4">Caballes Carl Angelo N.</h1>
    <h1 class="display-4">IT ELECTIVE 3 </h1>
    <p><span class="bold-text">BSIT 32E3</span></p>
</div>
