@{
    ViewData["Title"] = "Schedule";
}
<style>
    body {
        background-color: White;
        font-family: 'sans-serif';
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1000px;
        margin: 50px auto;
        padding: 10px;
        background-color: white;
      
    }

    h1 {
        color: darkgreen;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid darkgreen;
    }

    th {
        background-color: peachpuff;
        color: darkgreen;
    }

    tr:hover {
        background-color: peachpuff;
    }
</style>

<div class="container text-center">
    <h1 class="display-4">FACE-TO-FACE</h1>
  
    <table>
        <thead>
            <tr>
                <th> Subject</th>
                <th> Day</th>
                <th> Time</th>
            </tr>
            <tr>
                <td>System Integration & Architecture 1</td>
                <td>Monday & Tuesday  </td>
                <td> 8:00-9:30PM </td>
            </tr>
            <tr>
                <td>Panitikan</td>
                <td>Monday</td>
                <td> 3:00-4:00PM </td>
            </tr>
            <tr>
                <td>Capstone Project and Research 1</td>
                <td>Monday & Tuesday </td>
                <td> 6:30-8:00PM </td>
            </tr>
            <tr>
                <td>Quantitative Methods</td>
                <td>Monday & Tuesday </td>
                <td> 5:00-6:30PM </td>
            </tr>
            <tr>
                <td>IT Elective 3</td>
                <td>Saturday</td>
                <td> 1:00-4:00PM </td>
            </tr>
            <tr>
                <td>Information Assurance and Security 1</td>
                <td>Tuesday</td>
                <td> 3:00-4:00PM </td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
 </div>
<style>
    body {
        background-color: White;
        font-family: 'sans-serif';
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 10px;
        background-color: white;
       
    }

    h1 {
        color: darkgreen;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid darkgreen;
    }

    th {
        background-color: peachpuff;
        color: darkgreen;
    }

    tr:hover {
        background-color: peachpuff;
    }
</style>

<div class="container text-center">
    <h1 class="display-4">ASYNCHRONOUS</h1>

    <table>
        <thead>
            <tr>
                <th> Subject</th>
                <th> Day</th>
                <th> Time</th>
            </tr>
            <tr>
                <td>System Integration & Architecture 1</td>
                <td>Thursday</td>
                <td> 7:00-9:00PM </td>
            </tr>
            <tr>
                <td>Panitikan</td>
                <td>Thursday</td>
                <td> 3:00-4:00PM </td>
            </tr>
            <tr>
                <td>Capstone Project and Research 1</td>
                <td>Wednesday </td>
                <td> 5:00-7:00PM </td>
            </tr>
            <tr>
                <td>Quantitative Methods</td>
                <td>Wednesday</td>
                <td> 3:00-5:00PM </td>
            </tr>
            <tr>
                <td>IT Elective 3</td>
                <td>Thursday</td>
                <td> 5:00-7:00PM </td>
            </tr>
            <tr>
                <td>Information Assurance and Security 1</td>
                <td>Tuesday</td>
                <td> 4:00-6:00PM </td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>